SUPABASE_URL=https://o-teu-projeto.supabase.co
SUPABASE_KEY=coloca_aqui_a_service_role_key_ou_uma_key_com_permissoes_de_escrita
AIRLABS_API_KEY=coloca_aqui_a_tua_api_key_airlabs
AIRPORT_IATA=OPO
WORKER_TIMEZONE=Europe/Lisbon
SCHEDULE_TIMES=12:00,23:50
RUN_ON_START=true
AIRLABS_LIMIT=1000